#!/bin/sh

# Get the commit message file path
COMMIT_MSG_FILE=$1

# Get the current date in YYYY-MM-DD format
CURRENT_DATE=$(date "+%Y-%m-%d")

# Prepend the current date to the commit message
sed -i "1s/^/$CURRENT_DATE /" $COMMIT_MSG_FILE